name: Assign Issue Type

on:
  workflow_dispatch:

jobs:
  assign-issue-type:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Add issue type to all issues where we can guess the issue type.
        id: add-issue-type-to-issues
        uses: actions/github-script@v7
        with:
          script: |
            import assignTypeToIssues from './.github/files/assign-issue-type/assign-issue-type.js';
            const data = await assignTypeToIssues(github, context, core);
            return data;

