name: Testing setup-php
on: [ 'push' ]
jobs:
  test:
    name: Installing PHP 5.6.
    runs-on: ubuntu-latest

    steps:
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '5.6'